<!DOCTYPE html>
<html lang="en">
<style>
    .button {
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 12px;
      }

      .button1 {background-color: #04AA6D;}
      .button2 {background-color: #0000a0;}
      .button3 {background-color: #e4b634;}
    
      .blogContainer {
        border-radius: 25px;
        border: 2px solid black;
        padding: 10px; 
        width: 1000px;
        height: 250px; 
      }

      .headings {
        font-family: Arial, Helvetica, sans-serif;
      }
      
</style>
<head>
    <meta cjarset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
</head>
<body>
    <h1 class="headings">BLOGGER</h1>
    <h1 class="headings"><%=uri%></h1>
    <button class="button button1">New Blog</button>
    <br><br><br><br><br><br>
    <%for (const key in list) {%>
    <div class="blogContainer">
        <h2 class="headings"><%=list[key].title%></h2>
        <h3 class="headings"><%=list[key].author%></h3>
        <p class="headings"><%=list[key].content%></p>
        <nr><br>
        <button class="button button2">Read More</button>
        <button class="button button3">See Comments</button>
    </div>
    <br><br>
    <%}%>
</body>
</html>